<main class="container">
    <h2 class="text-center my-5">About Me</h2>
    <div class="text-center">
        <img src="img/Image.jpg" alt="Profile Picture" width="200">
        <p class="mt-3">Gratis Jacob</p>
        <p class="lead">Oshawa</p>
        <p>Currently Studying computer programming in durham college. Seeking for job opportunities in web development and software testing in durham college  after graduation.</p>
    </div>
</main>